<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="about-style.css" />
    <title>About me 🤡</title>
    <link rel="icon" type="image/x-icon" href="./imgs/favicon-title.png">
</head>

<body>
    <section class="first-page">

        <!-- Navigation -->

        <div id="navigation">
            <div class="face-icon">
                <a href="index"><img src="./imgs/favicon-title.png" alt="my face" class="myFaceIcon"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="index" class="first-li">Home</a></li>
                    <li>
                        <a href="about" class="first-li">About</a>
                    </li>
                    <li>
                        <a href="portfolio" class="first-li">Projects</a>
                    </li>
                    <li class="dropdown-container">
                        <a href="#" class="first-li main-weather-btn">Weather</a>
                        <div class="drop-btn">
                            <a href="paris-weather" class="weather-btn">Paris, France</a>
                            <a href="sanfran-weather" class="weather-btn">San Francisco, CA</a>
                            <a href="davao-weather" class="weather-btn">Davao City, Philippines</a>
                        </div>
                    </li>
                    <li>
                        <a href="project" class="first-contact-btn">Etch a Sketch!</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Content -->
        <div class="landing-section">
            <!-- img / illustration -->
            <div class="main-content">
                <div class="main-section-img">
                    <img src="./imgs/contact-illustration.png" alt="Illustration" class="first-img" />
                </div>
            </div>

            <!-- main content -->
            <div class="landing-section-txt">
                <div class="heading">
                    <header><span></span>Who am I?</span></header>
                    <p>I am currently a student in Ateneo de Davao University, currently taking Interdisciplinary Studies Minor in Media and Technology. Although most of the stuff I do is coding, I also meddle with fiction writing. If you wish to know more about me, let's get to know each other by clicking the botton down below!</p>
                </div>

                <div class="sub-button">
                    <div class="contact-btn">
                        <a href="#" class="second-contact-btn">Contact me!</a>
                    </div>

                    <div class="sub-icons">
                        <a href="https://www.facebook.com/paranoidclerk/"><img src="./imgs/fb-icon.png" alt=""></a>
                        <a href="https://twitter.com/clerkey"><img src="./imgs/twit-icon.png" alt=""></a>
                        <a href="https://www.instagram.com/paranoid.clerk/"><img src="./imgs/ig-icon.svg" alt=""></a>
                        <a href=""><img src="./imgs/yt-icon.png" alt=""></a>
                        <a href="https://github.com/paranoidclark"><img src="./imgs/git-icon.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>