<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/davao-style.css">
    <title>Davao City, Philippines 🍍</title>
</head>

<body>
    <main>
        <section class="first-page">
            <div id="navigation">`
                <div class="face-icon">
                    <a href="index"><img src="./imgs/favicon-title.png" alt="my face" class="myFaceIcon"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index" class="first-li">Home</a></li>
                        <li>
                            <a href="about" class="first-li">About</a>
                        </li>
                        <li>
                            <a href="portfolio" class="first-li">Projects</a>
                        </li>
                        <li class="dropdown-container">
                            <a href="#" class="first-li main-weather-btn">Weather</a>
                            <div class="drop-btn">
                                <a href="paris-weather" class="weather-btn">Paris, Italy</a>
                                <a href="sanfran-weather" class="weather-btn">San Francisco, CA</a>
                                <a href="davao-weather" class="weather-btn">Davao City, Philippines</a>
                            </div>
                        </li>
                        <li>
                            <a href="project" class="first-contact-btn">Etch a Sketch!</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
</body>

</html>