<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <section class="main-container">
        <h1>Weather Information</h1>
        <% weatherData.forEach(function(cityData) { %>
            <div class="city">
                <h2>
                    <%= cityData.location.name %>
                </h2>
                <p>Temperature: <%= cityData.current.temperature %> °C</p>
                <p>Sky: <%= cityData.current.skytext %>
                </p>
                <!-- Add more weather information here as needed -->
            </div>
            <% }); %>

    </section>

    <script src="server.js"></script>
</body>

</html>